body {
  background-image: url("https://st4.depositphotos.com/4590583/26949/i/450/depositphotos_269495776-stock-photo-background-menu-dishes-top-view.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: rgb(126, 221, 18);
}
.container {
  opacity: 0.9;

  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 38px;
  line-height: 1.5;
  color: rgb(183, 241, 196);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form-container {
  opacity: 0.9;
  padding: 15px 20px;
  background-color: rgb(155, 248, 151);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  margin-bottom: 30px;
}
form {
  display: flex;
}
.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 9px;
  margin-left: 20px;
  opacity: 0.6;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background: rgb(4, 146, 11);
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 24px 36px;
}

.recipe {
  font-size: 16px;
  background-color: rgb(155, 248, 151);
  opacity: 0.9;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid rgb(9, 110, 26);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
}
.hidden {
  display: none;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  color: white;
}

.recipe strong {
  color: rgb(26, 138, 12);
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visisbility: hidden;
  }
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
